*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
h1{
    color: #b92b27;
    font-family: serif;
}
h2
{
    color: rgb(161, 27, 251);
    font-size: large;

}
h3{
    color: darkblue;
}
h4{
    color: #0aa67d;
}