*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color :rgb(255, 235, 205);
}
h1{
    color: #b92b27;
    font-family: serif;
}
h2
{
    color: rgb(161, 27, 251);
    font-size: large;

}
h3{
    color: rgb(79, 79, 223);
}
h4{
    color: #0aa67d;
}
#STATE{
    
    background-color: rgb(255, 255, 255);
}
.button{
    background-color: rgb(255, 216, 132);
}
ul {
    list-style: none;
  }
  
li {
    display: inline-block;
    margin-right: 20px; /* add spacing between items */
  }
#Intro {
    font-family :'Rockwell';
    color: #5c1917;
    border-width: 05;
    border-color: #c94b46;
    border-style:dashed;
}
#form1{
    border-width: 05;
    border-color: #c94b46;
    border-style:dashed;
}
#form2{
    border-width: 05;
    border-color: #c94b46;
    border-style:dashed;
}
#Basic{
    color: rgb(255, 7, 226);
}
form > label{
    background-color: rgb(241, 209, 162);
    text-align: justify;
    color: rgb(44, 14, 80);
    line-height: 40px;
}
input[type="text"]{
    color: #ff0000;
}
input[type="password"]
{
    color: #ff0000;
}
.button:hover{
    background-color: rgb(255, 186, 39);
    color: rgb(255, 0, 0);
}
input[type="Radio"]:checked+label{
    font-weight: 700;
}  